.organizer-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5f6fa; /* admin background */
}

/* MAIN PAGE WRAPPER */
.organizer-container {
  flex: 1;
  padding: 40px;
  padding-top: calc(40px + 64px); /* space for navbar */
  background-color: #f5f6fa;
}
